<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/index.css"/>
  <script src="https://cdn.firebase.com/js/client/2.4.0/firebase.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../js/validate.js"></script>
  <script type="text/javascript" src="../js/load_data.js"></script>
</head>
<body>

<header class="text-center">
    <h1> SEARS HOLDINGS </h1>
	<h1> INDIA </h1>
</header>

  
<div class="container-fluid text-center">    
	<div class="row">
		<div class="col-sm-4 text-justify">
		  <div class="well">
			<div class="row">
				<img src="../images/img2.jpg" class="img-responsive" id="i2">
				<p>Sears Holdings Corporation is an American holding company headquartered in Hoffman Estates, Illinois.
			  It is the owner of retail store brands Sears and Kmart, and was founded after the latter purchased the 
	          former in 2005.[2] Sears Holdings owns the brands Craftsman, Kenmore and DieHard. Sears Holdings operates 
	          1,725[3] retail locations under the mastheads of Sears, Kmart, and their subsidiaries, such as auto centers
	          and pharmacies.
				</p>
			</div>
			<div class="row">
				<img src="../images/img1.jpg" class="img-responsive" id="i1">
				<p>Sears Holdings is the parent company of Kmart and Sears, Roebuck and Co. Sears Holdings Corporation is the 
				nation's fourth largest broadline retailer with approximately 4,000 full-line and specialty retail stores in the
				United States and Canada. Sears Holdings is the leading home appliance retailer as well as a leader in tools, 
				lawn and garden, home electronics and automotive repair and maintenance.  
				</p>
		   </div>
	     </div>
		</div> 
	   <div class="col-sm-8 text-center">
	    <div class="well">
		 <h2> Latest News</h2>	
		   <div class="panel panel-default">
			  <div class="panel-body">
			    <div id="link1" class="trunc">
			    </div>
			    <a href="./second.html#link1">Read More</a>  
	  	       </div>
			 </div>  
	  	  <div class="panel panel-default">
		   <div class="panel-body">
	        <div id="link2" class="trunc">
			</div>    
			<a href="./second.html#link2">Read More</a>
		    </div>
		  </div>
	      <div class="panel panel-default">
		    <div class="panel-body">
			 <div id="link3" class="trunc">
			</div>
			<a href="./second.html#link3">Read More</a>
		   </div>
		   </div>
		  <div class="panel panel-default">
		   <div class="panel-body">
		      <div id="link4" class="trunc">
			 </div>
			 <a href="./second.html#link4">Read More</a>
           </div>
		   </div>
       </div>
	  </div> 
  </div>
  
 <footer class="container-fluid">
    <div class="row">
      <div class="col-sm-4 text-justify">
	    <h3> SEARS IT and Management Services India</h3>
	    <p class="address"><i class="fa fa-map-marker"></i>&nbsp;&nbsp; EON Free Zone, Cluster C,<br>
	   Wing 2, 7th Floor,<br>MIDC Kharadi Knowledge Park,<br> Pune 411 014.
	   </p>
	   <p class="address"><i class="fa fa-phone"></i>&nbsp;&nbsp; 020-67308500 <br>
	   <i class="fa fa-fax"></i>&nbsp;&nbsp; 020 67308700<br>
	   </p>
	   <p id="email"><i class="fa fa-envelope"></i>&nbsp;&nbsp; shi.communications@searshc.com
	   </p>
		   <p class="address">Please send your resumes to :<br>
		   <i id="mail">SHIRecruitment@searshc.com</i>
		   </p>
	 </div>
	 <div class="col-sm-8 form-group text-justify">
	      <h3> Contact Information</h3>
	     <form id="f1" onsubmit="return validate();" method="post">
		   <label>Email: </label><br><input class="form-control" type="email" name="email" size="60" required/><br><br>
		   <label>Name: </label><br><input type="text" class="form-control" name="name" size="60" required/><br><br>
		   <label>Message: </label><br><textarea type="text1" class="form-control" name="text_box" rows="3" cols="62" required/></textarea><br><br>
		   <button type="submit" style="padding:10px;">Submit</button>
		   <span id="demo"> </span>
		   <span id="demo1"> </span>
	      </form>
	    </div>
	</div> 
</footer>
</div>
</body>
</html>
